/* your code */
.table{
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.head{
	color: white;
	background-color: rgb(0,100,256);
}
.body1{
	display: table-row;
	background-color: ghostwhite;
}
.body2{
	display: table-row;
	background-color: grey;
}